@using Car.Application.Car;
@using Car.Application.Car.Commands.CreateCar;
@using System.Security.Claims;
@model CreateCarCommand;


<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm mt-3">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Dodaj nowy pojazd</h2>
                <form action="/Car/Create" method="post">
                    
                    <input type="hidden" id="UserId" asp-for="UserId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />

                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="CarBrand" asp-for="CarBrand" placeholder="Marka samochodu" />
                        <label for="CarBrand">Marka samochodu</label>
                        <span asp-validation-for="CarBrand" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="CarModel" asp-for="CarModel" placeholder="Model" />
                        <label for="CarModel">Model</label>
                        <span asp-validation-for="CarModel" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="ProductionYear" asp-for="ProductionYear" placeholder="Rok produkcji" />
                        <label for="ProductionYear">Rok produkcji</label>
                        <span asp-validation-for="ProductionYear" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="RegistrationNumber" asp-for="RegistrationNumber" placeholder="Numer rejestracyjny" />
                        <label for="RegistrationNumber">Numer rejestracyjny</label>
                        <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" id="VIN" asp-for="VIN" placeholder="VIN" />
                        <label for="VIN">VIN</label>
                        <span asp-validation-for="VIN" class="text-danger"></span>
                    </div>

                    <div class="d-grid">
                        <input type="submit" value="Utwórz" class="btn btn-primary btn-lg" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
