@model List<Person>

@{
    ViewData["Title"] = "Polityka prywatności";
}

<h1>@ViewData["Title"]</h1>

<p>
    Witamy na stronie <strong>Mechanix</strong> Zależy nam na Twojej prywatności i zapewniamy, że Twoje dane osobowe są u nas bezpieczne. Poniżej znajdziesz szczegóły dotyczące tego, jak zbieramy, przetwarzamy i chronimy Twoje dane, abyś mógł korzystać z naszych usług w pełni komfortowo.
</p>

<h4>1. Jakie dane zbieramy?</h4>

<p>
    Zbieramy dane, które są niezbędne do świadczenia naszych usług. Może to obejmować:
</p>

<ul>
    <li>Dane kontaktowe (imię, nazwisko, adres e-mail, numer telefonu, miejsce zamieszkania)</li>
    <li>Informacje dotyczące Twojego pojazdu (marka, model, numer rejestracyjny, rok produkcji, numer VIN)</li>
    <li>Informacje o preferencjach i zachowaniach na naszej stronie internetowej</li>
</ul>

<h4>2. Jak wykorzystujemy Twoje dane?</h4>

<p>Twoje dane wykorzystujemy wyłącznie w celu:</p>

<ul>
    <li>Świadczenia usług naprawy i konserwacji pojazdów</li>
    <li>Kontaktowania się z Tobą w sprawach związanych z usługami</li>
    <li>Doskonalenia naszych usług i analizy Twoich preferencji</li>
</ul>

<h4>3. Bezpieczeństwo danych</h4>

<p>
    Dokładamy wszelkich starań, aby Twoje dane były bezpieczne. Stosujemy zaawansowane technologie szyfrowania, aby chronić je przed nieautoryzowanym dostępem, ujawnieniem czy zniszczeniem.
</p>

<h4>4. Udostępnianie danych osobowych</h4>

<p>
    Nie udostępniamy Twoich danych osobowych żadnym osobom trzecim, chyba że jest to niezbędne do wykonania usługi (np. w przypadku współpracy z zewnętrznymi dostawcami części samochodowych) lub wymagane przez prawo.
</p>

<h4>5. Twoje prawa</h4>

<p>Masz prawo do:</p>

<ul>
    <li>Dostępu do swoich danych osobowych</li>
    <li>Sprostowania swoich danych, jeśli są one nieaktualne lub błędne</li>
    <li>Ograniczenia przetwarzania danych, jeśli nie zgadzasz się z ich wykorzystaniem</li>
    <li>Aby skorzystać z tych praw, skontaktuj się z nami, wysyłając e-mail na adres: mechanix@mechanic.pl.</li>
</ul>

<h4>6. Pliki cookies</h4>

<p>
    Nasza strona korzysta z plików cookies, aby poprawić jakość korzystania z naszej strony i dostosować ją do Twoich potrzeb. Możesz zarządzać ustawieniami cookies w swojej przeglądarki, jednak pamiętaj, że wyłączenie cookies może wpłynąć na działanie niektórych funkcji strony.
</p>

<h4>7. Zmiany w Polityce Prywatności</h4>

<p>
    Zastrzegamy sobie prawo do wprowadzania zmian w niniejszej polityce prywatności. Wszelkie zmiany będą publikowane na tej stronie.
</p>

<p>Dziękujemy, że nam ufasz!</p>
