

@model Car.Application.Car.Commands.EditCar.EditRepairCommand

@{
    ViewData["Title"] = "Zarządzanie wizytą";
}

<h1 class="text-center text-primary my-4">Zarządzanie wizytą</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
        <form asp-action="Edit" class="p-4 border rounded bg-white shadow">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

            <!-- Hidden field for Id -->
            <input asp-for="Id" type="hidden" value="@Model.Id" />

            <!-- MechanicId -->
            <input asp-for="MechanicId" type="hidden" value="@Model.MechanicId" />
            

            <!-- Reservation Date -->
            <div class="form-group mb-3">
                <label asp-for="ReservationDate" class="form-label fw-bold">Data wizyty</label>
                <input asp-for="ReservationDate" type="datetime-local" class="form-control" />
                <span asp-validation-for="ReservationDate" class="text-danger"></span>
            </div>

            <!-- Information -->
            <div class="form-group mb-3">
                <label asp-for="Information" class="form-label fw-bold">Informacja dla mechanika</label>
                <textarea asp-for="Information" class="form-control" rows="3" placeholder="Wprowadź dodatkowe informacje"></textarea>
                <span asp-validation-for="Information" class="text-danger"></span>
            </div>

            <!-- Status -->
            <div class="form-group mb-3">
                <label asp-for="Status" class="form-label fw-bold">Status</label>
                <select asp-for="Status" class="form-control">
                    <option value="Oczekiwanie">Oczekiwanie</option>
                    <option value="W trakcie">W trakcie</option>
                    <option value="Zakończone">Zakończone</option>
                </select>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <!-- Submit Button -->
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary px-5">Zapisz</button>
            </div>
        </form>
    </div>
</div>

<!-- Back to List -->
<div class="mt-4 text-center">
    <a asp-action="Index" class="btn btn-secondary">Wróć do listy</a>
</div>

